<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="form.css" rel="stylesheet">
</head>
<body>
    <form method="post" action="/user/add">
        <input placeholder="First Name" type="text" id="name" name="name"><br>
        <input placeholder="Email" type="text" name="email" id="email"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>